In [126]:
import pandas as pd
# intialise data of lists.
data = {'Name':[1, 3, 5, 7, 9],
        'Age':[20, 21, 19, 18, 22],
       'Cheeks':[2, 4, 6, 8, 10],
        'reddit': [22, 11, 44, 33, 55]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

   Name  Age  Cheeks  reddit
0     1   20       2      22
1     3   21       4      11
2     5   19       6      44
3     7   18       8      33
4     9   22      10      55

In [127]:
dft = df.transpose()

In [128]:
dft

         0   1   2   3   4
Name     1   3   5   7   9
Age     20  21  19  18  22
Cheeks   2   4   6   8  10
reddit  22  11  44  33  55

In [131]:
X = dft[0:3]

In [144]:
X.head()

         0   1   2   3   4
Name     1   3   5   7   9
Age     20  21  19  18  22
Cheeks   2   4   6   8  10

In [145]:
X = X.drop(4, axis=1)

In [158]:
X

         0   1   2   3
Name     1   3   5   7
Age     20  21  19  18
Cheeks   2   4   6   8

In [163]:
print(type(y))
y

<class 'pandas.core.series.Series'>

Name       9
Age       22
Cheeks    10
reddit    55
Name: 4, dtype: int64

In [164]:
from sklearn.linear_model import LinearRegression

In [165]:
lm = LinearRegression()

In [166]:
print(X.shape)
print(y.shape)

(3, 4)
(4,)

In [176]:
lm.fit(X, y)

LinearRegression()

In [137]:
x.shape

(4, 5)

In [125]:
df3 = data3 = {'Name':[1, 3, 5, 7, 9]}
 
# Create DataFrame
df3 = pd.DataFrame(data)
 
# Print the output.
print(df3)

   Name  Age  Cheeks  reddit
0     1   20       2      22
1     3   21       4      11
2     5   19       6      44
3     7   18       8      33
4     9   22      10      55

In [175]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression

iris_dict = load_iris()
X = pd.DataFrame(iris_dict['data'])
y = pd.Series(iris_dict['target'])

clf = LogisticRegression(max_iter=True)
clf.fit(X, y)

y_pred = clf.predict(X.loc[0,:].to_numpy().reshape(1, -1))

/Users/jacobcrawford/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [173]:
y_pred

array([0])

In [174]:
X

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]